<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBs7M5xMdkFc3ycAr2j7frO5k9b_bdflVo</string>
	<key>GCM_SENDER_ID</key>
	<string>498867021876</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hongchris.learnlanguages</string>
	<key>PROJECT_ID</key>
	<string>testing-react-7e154</string>
	<key>STORAGE_BUCKET</key>
	<string>testing-react-7e154.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:498867021876:ios:e14fabf51d04d7afed0261</string>
</dict>
</plist>